{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Shopfinity - {% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="{% static 'images/logo.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor css Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main css File -->
  <link href="{% static '/assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'images/logo.png' %}" alt="">
        <h1 class="sitename" href="/">Shopfinity</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
            {% if request.session.admin_id %}
            <ul class='px-3'>
                <li><a href="/shopfinity/adm/all-products" class="px-3">Home</a></li>
                <li><a href="/shopfinity/admin/all-orders/" class="px-3">All Orders</a></li>
                <li class="dropdown"><a class='btn btn-danger p-2 m-2' href="/shopfinity/adm-user/login">Logout</a></li>
            </ul>
            {% else %}
            <li><a href="/" class="">Home</a></li>
            <li><a href="/shopfinity/adm-user/login">Login</a></li>
          {% endif %}

        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>


  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="{% static 'images/bg.jpeg' %}" alt="" data-aos="fade-in">

    <div class="text-center" data-aos-delay="100">
      {% block content %}
      {% endblock content %}
    </div>
  </section>

  <footer id="footer" class="footer dark-background">
    <div class="container footer-top">
      <div class="row gy-3">
        <div class="col-lg-6 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename ">Shopfinity</span>
          </a>
          <p class='col-sm-8'>Shopfinity is a Django-based e-commerce web app that allows users to browse products, add them to a cart, and place orders through a simulated payment gateway. It supports user authentication, dynamic cart handling with localStorage, and secure checkout with CSRF protection. Orders are linked to logged-in users, capturing essential details like name, address, and email. The project showcases Django’s strengths in building secure, interactive, and scalable shopping platforms.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://www.linkedin.com/in/sopan-vidhate-49721022a"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/sopan11"><i class="bi bi-github"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Kharadi, Pune</p>
          <p>India</p>
          <p class="mt-4"><strong>Mobile No.:</strong> <span>+91 95******70</span></p>
          <p><strong>Email:</strong> <span>sopanvidhate11@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Shopfinity</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Sopan Vidhate</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>
