{% extends "base.html" %}
{% block title %}about{% endblock title %}about
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title class='text-dark'>About Us - Shopfinity</title>
</head>
<body>
    
    <div class="container mt-5 bg-dark p-5 text-light border border-3 border-light" >
        <div class="text-center">
            <h1 class="about-title text-danger">About Shopfinity</h1>
                <p class="about-description mt-4 text-light">
                    Shopfinity is a simple and modern e-commerce web application built using Django. It allows users to explore products, manage a cart, and securely place orders. Designed as a full-stack project, it features dynamic cart functionality using JavaScript and `localStorage`, user authentication, order tracking, and a simulated payment system. Shopfinity is ideal for learning and demonstrating core web development concepts with Django.
                </p>
        </div>
    </div>

</body>
</html>

{% endblock content %}